<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/LayoutPadrao">

<section layout:fragment="conteudo">
	<div class="container">
	<br/><br/>
		<div class="jumbotron">
		  <h1 class="display-4">Bem Vindo!</h1>
		  <p class="lead">Este é um sistema desenvolvido para controle de petshop!</p>
		  <hr class="my-4"/>
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
	</div>
</section>

</html>